.buttons_div{
    margin-top: 25px;
}
.main_div{
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    z-index: 99 !important;
    top: 0;
}
.sub_div{
    position: absolute;
    background-color: white;
    width: 50%;
    height: fit-content;
    max-width: 600px;
    margin: 0 auto;
    top: 15%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2% 4% ;
    border-radius: 4px;
    
}
.update_text{
    color: #60a8be;
    font-size: 1.3rem;

}
.inputs{
    margin: 2% 0% 2% 0%;
}
.label_div{
    display: inline-block;
    width: 40%;
}
.input_div{
    display: inline-block;
    width: 50%;
}
.input_styling{
    width: 100%;
    border: 2px solid #60a8be;
}
.update{
    display: inline-block;
    width: 100px;
    background-color: green;
    /* max-width: max-content; */
    padding: 2% 3%;
    border-radius: 30px;
    font-family:"Poppins";
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    cursor: pointer;
}
.submit_button{
    color: white !important;
    border: none;
    background: transparent;
}
.close{
    display: inline-block;
    width: 100px;
    background-color: rgb(233, 89, 78);
    color:white;
    margin-left: 5px;
    /* max-width: max-content; */
    padding: 2% 3%;
    border-radius: 30px;
    font-family:"Poppins";
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    cursor: pointer;
}

.update:hover , .close:hover{
    transform: translateY(-3px);
    transition-duration: 0.3s;
}
.error_text{
    color:red;
    font-size: 0.9rem;
    position: relative;
    left: 7%;
    display: none;
}
@media only screen and (max-width:900px){
    .sub_div{
        width: 80%;
        /* left: 10%; */
    }
    .label_div{
        font-size: 0.7rem;
    }
    ::placeholder{
        font-size: 0.7rem;
    }
}