.note{
  font-size: 0.7rem;
  font-style: italic;
}
.note-span{
  color:#38c0ca;
  font-weight: bold;
  font-style:normal
}
.main_container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.main_body_container {
  flex: 1;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.recover_loading {
  width: 55.5%;
  padding: 6%;
}
.user_advice_login_holder {
  margin-top: 2%;
}
.user_advice_logo_holder2 {
  width: 100%;
  padding-left: 5%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.chat_logo2 {
  width: 200px;
  cursor: pointer;
}
#short_advice_form_styling2 {
  border: 2px solid#38c0ca;
  border-radius: 12px;
  padding: 4%;
}
.login_icon {
  font-size: 2rem;
  color: #38c0ca;
}
.loader_icon {
  font-size: 1.7rem;
  color: #38c0ca;
}
.login_button {
  font-family: Oxygen;
  width: 100%;
  margin: 0 auto;
  padding: 0% 0%;
  border-radius: 8px;
  background: #38c0ca;
  border: 1px solid #38c0ca;
}
.login_button:hover {
  background-color: white;
  background-image: none;
  color: #38c0ca;
  border: 1px solid #38c0ca;
}
.form_input {
  font-family: Oxygen;
}
.loader_div {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.loader_styling {
  width: 500px;
  height: 500px;
}
.user_advice_login_holder {
  width: 40%;
}
@media screen and (max-width: 992px) {
  .user_advice_login_holder {
    width: 60%;
  }
}

@media screen and (max-width: 480px) {
  .user_advice_login_holder {
    width: 90%;
  }
}
@media screen and (max-width: 320px) {
  .user_advice_login_holder {
    width: 100%;
  }
}
