@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


@mixin center {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
$tablet :1200px;
// body {
//     margin:0;
//     padding: 0;
// 	// background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
// 	// background-size: 400% 400%;
// 	// animation: gradient 15s ease infinite;
// 	height: 100vh;
// }

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.backContainer {
    // display: flex;
    // align-items: center;
    // align-content: center;
    // justify-content: center;
    // position: relative;
    @include center;
    width: 100vw;
    // height: 100vh;
    flex-direction: column;
    // background-color: rgb(222,222,222);
    // background: linear-gradient(41deg, #45dec0, #53c3bf 46%, #60a8be);
    font-family: 'Rubik', sans-serif;
flex-wrap: wrap;
    // background: #FFEFBA;
    // background: -webkit-linear-gradient(to left, #FFFFFF, #FFEFBA);
    // background: linear-gradient(to left, #FFFFFF, #FFEFBA);


    margin: 0 !important;
    
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
   
    .resumeContainer {
        margin: 5% 0%;
        z-index: 2;
        width: 80vw;
        height: 1400px;
        overflow: hidden;
        // background-color: rgb(255, 255, 255);
        // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;


        background: rgba(255, 255, 255, 0.7);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        // border-radius: 10px;
        // border: 1px solid rgba( 255, 255, 255, 0.18 );


        .sidebar {
            width: 30%;
            height: 100%;
            background-color: #1d1e2c;
            margin-top: 50px;
            border-radius: 220px 220px 0px 0px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            // align-items: center;

            .imgContainer {
                margin-top: 20px;
                background-color: white;
                width: 90%;
                height: 30%;
                border-radius: 210px;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .sidebarContent {
                // background-color: #04AA6D;
                margin-top: 90px;
                width: 100%;
                @include center;
                flex-direction: column;


                h4 {
                    color: white;
                    align-self: flex-start !important;
                    margin-left: 20%;
                    margin-bottom: 5%;
                    margin-top: 20%;
                }

                .myProgress {
                    width: 60%;
                    background-color: #ddd;
                    border-radius: 10px;
                    overflow: hidden;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
                }

                .myBar {
                    width: 70%;
                    height: 30px;
                    background: linear-gradient(41deg, #45dec0, #53c3bf 46%, #60a8be);
                    text-align: center;
                    line-height: 30px;
                    color: white;
                    border-radius: 10px;
                }
            }


        }

        .content {
            width: 70%;

            // margin-top: 50px;
            .introDiv {
                background: linear-gradient(41deg, #45dec0, #53c3bf 46%, #60a8be);
                width: 100%;
                height: 300px;
                display: flex;
                justify-content: flex;
                align-items: flex-start;
                color: white;
                padding: 60px;
                display: flex;
                flex-direction: column;
                border-radius: 150px 0px 0px 0px;
            }
        }
    }

    .basicInformation {
        // background:cadetblue; 
        width: 100%;
        height: auto;
        display: flex;
        padding-left: 10%;
        flex-direction: column;
        // justify-content: center;
        align-items: flex-start;
        margin: 20px 0px 40px 0px;

        .headerStrip {
            height: 50px;
            width: 100%;
            // background-color: rgb(231, 191, 59);
            // background: linear-gradient(41deg, #45dec0, #53c3bf 46%, #60a8be);
            color: white;
            display: flex;
            justify-content: flex-start;
            padding-left: 10%;
            align-items: center;
            border-radius: 50px 0px 0px 50px;


            background: linear-gradient(41deg, #45dec0, #53c3bf 46%, #60a8be);
            // box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur(4px);
            -webkit-backdrop-filter: blur(4px);
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            // border: 1px solid rgba( 255, 255, 255, 0.18 );
            // align-self: flex-end;
            h4{
                margin:0 !important;
                @media only screen and (max-width: $tablet) {
                    font-size:large;
                }
            }
            // h4 {
            //     margin: 0;
            // }
        }

        .info {
            // background-color: burlywood;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 20px 50px;

            p {
                // background-color: aqua;
                margin: 0;
                font-weight: 400;
            }
        }
    }

    .printBtn{
        // background: linear-gradient(41deg, #45dec0, #53c3bf 46%, #60a8be);
        background-color: #1d1e2c;
        width:200px;
        padding:7px;
        border-radius: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        margin-bottom: 30px;
        cursor: pointer;
    
        &:hover{
        transform: scale(1.1);
        transition:all ease 1s;
    }
    
        p{
            margin:0;
            color:white;
        }
    }

    .globe {
        position: absolute !important;
        right: 5% !important;
        width: 30% !important;
        height:auto !important;
        // background-color: blueviolet !important ;
        top: 70% !important;
        opacity: 1 !important;
        // z-index: -1;
      }

      .arrow{
        position: absolute !important;
        right: 3% !important;
        width: 20% !important;
        height:auto !important;
        // background-color: blueviolet !important ;
        top: 25% !important;
        opacity: 1 !important;
        z-index:1;
      }


}

.resume {
    position: absolute;
    right: 0%;
    width: 10%;
    top: 0%;
    background-color: #45dec0 !important;
  }

  .portfolio {
    position: absolute;
    left: -95px;
    bottom: 43%;
    width: 17%;
  }

h1 {
    font-weight: bold;
}

@media print {
    // .resumeContainer {
    //     box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px !important;
        
    // }
    // .basicInformation {
    //     // background:cadetblue; 
    //     width: 100%;
    //     height: auto;
    //     display: flex;
    //     padding-left: 10%;
    //     flex-direction: column;
    //     // justify-content: center;
    //     align-items: flex-start;
    //     margin: 20px 0px 40px 0px;

    //     .headerStrip {
           
    //         background: linear-gradient(41deg, #45dec0, #53c3bf 46%, #60a8be);
    //         // box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    //         backdrop-filter: blur(4px);
    //         -webkit-backdrop-filter: blur(4px);
    //         box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    //         // border: 1px solid rgba( 255, 255, 255, 0.18 );
    //         // align-self: flex-end;

           
    //     }
    // }
    body * {
        visibility: hidden;

       .resumeContainer {
        visibility: visible !important;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px !important;
    
            .sidebar{
                overflow: hidden !important;
                .imgContainer{
                    overflow: hidden !important;
                }
            }
        }
        .resumeContainer * {
            visibility: visible !important;
            // display: block !important;
            // box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
       
            // .sidebar {
              
            //     background-color: #1d1e2c !important;
            // }

        }

      }
      .resumeContainer {
        //   width:100vw;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px !important;
      }

      .printBtn{
        display: none !important;
    }

      
}


@media only screen and (max-width: 1600px) {
    .imgContainer {
        // margin-top: 30px !important;
        // background-color: rgb(186, 219, 0) !important;
        width: 300px !important;
        height: 300px !important;
        // border-radius: 180px ;
    }

    .sidebar {

        border-radius: 210px 210px 0px 0px !important;
    }

    // h1{
    //     color:brown;
    // }
}

@media only screen and (max-width: 560px) {
    .sideBar {
        display: none !important;
        visibility: hidden !important;
    }

    // h1 {
    //     color: rgb(42, 165, 63);
    // }
}

// @media only screen and (max-width: 2000px) {
//     .backContainer{
//         margin-bottom:90px !important;
//     }
//     h1 {
//         color: rgb(42, 165, 63);
//     }
// }

// @media only screen and (max-width: 1660px) {
//     .imgContainer {
//         // margin-top: 30px !important;
//         // background-color: rgb(186, 219, 0) !important;
//         width: 200px !important;
//         height: 200px !important;
//         // border-radius: 180px ;
//     }
//     h1 {
//         color: rgb(61, 42, 165);
//     }
// }